// Client-safe
NEXT_PUBLIC_PRIVY_APP_ID=
NEXT_PUBLIC_CHAIN_ID=8453
NEXT_PUBLIC_CONTRACT_ADDRESS=0xbEDd4F2beBE9E3E636161E644759f3cbe3d51B95
NEXT_PUBLIC_ERC20_TOKEN_ADDRESS=0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913

// Server-only
BASESCAN_API_KEY=
RPC_URL=

// Optional
NEXT_PUBLIC_DEMO_MODE=false